<h1>Hero list!</h1> #if ($heroes)
<ul>
  #foreach ($hero in $heroes) $hero.getName()
  <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li>
  #end
</ul>
#else
<p>No heroes!</p>
#end

<a href="/">Create a superhero </a>
