#if ($squad)
<h1>$squad.getName() heroes: </h1>

<ul>
  #foreach($hero in $squad.getHeroes())
  <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li>
  #end
</ul>
#end
<a href="/squads/$squad.getId()/heroes/new">Create a Superhero</a>
<a href="/squads">Go Back </a>
