#if ($squad)
<h1>$squad.getName() heroes: </h1>

<ul>
  #foreach($hero in $squad.getHeroes())
  <li><a href="/hero/$hero.getId()">$hero.getName()</a></li>
  #end
</ul>

  <a href="/heroes">Go Back </a>
